@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #1A1423, #3D314A, #684756);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #271c17a6;
}

h1 {
    color: #96705B;
    text-align: center;
    text-shadow: 1px 1px 1px #795948bd;

}

h2 {
    color: #775b51;
}

p {
    text-align: justify;
}